*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rebeccapurple;
}

#dropArea {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}